@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

$color-red: rgb(255, 20, 20);

p {
  color: $color-red;
  font-family: "Roboto";
}

body {
  background-image: url("../images/sakura.jpg");
}
